h1{
color:fuchsia;
text align: center;
}
body{
background-color:rgba(120,110,110,0.8);
text align: center;
}
h2{
color:fuchsia;
}
h3{
color:navy;
}
.animation{
width:250px;height:250px;
}
#animation{
width:200px;height:250px;
}
a:hover{
color:yellow;
}
a:link{
color:red
}
a:visited{
color:lime;
}
li{
font-family:Courier-New;
font-size:1.5vw;
}
#happy{
color:yellow;
}
#ita{
font-style:italic;
}