h1{
color:fuchsia;
}
body{
background-color:rgba(120,110,110,0.8);
}
#no{
list-style-type: none;
}
h2{
color:fuchsia;
}
.smaller{
color:red;
width:100px;
font-size:0.9em;
}
h3{
color:navy;
}
.flipper:hover{
transform:scaleY(-1);
}
.big{
font-size:1.5em;
color:lavender;
}
.animation{
width:200px;height:250px;
}
#animation{
width:200px;height:250px;
}
a:link{
color:red
}
a:visited{
color:lime;
}
a{
text-decoration:none;
}
a:hover{
color:yellow;
text-decoration:underline;
}
li{
font-family:Courier-New;
font-size:1.5vw;
}
#happy{
color:yellow;
}
.ita{
font-style:italic;
}
.mood{
font-weight:bold;
color:yellow;
font-family:Arial;
}
.upside{
display:flex;
flex-direction:column-reverse;
}