h1{
color:fuchsia;
text-indent: center;
}
body{
background-color:rgba(120,110,110,0.8);
}
h2{
color:fuchsia;
}
h3{
color:navy;
}
.animation{
width:200px;height:250px;
}
#animation{
width:200px;height:250px;
}
a:hover{
color:yellow;
}
a:link{
color:red
}
a:visited{
color:lime;
}
a{
text-decoration:none;
}
li{
font-family:Courier-New;
font-size:1.5vw;
}
#happy{
color:yellow;
}
.ita{
font-style:italic;
}
.mood{
font-weight:bold;
color:yellow;
font-family:Arial;
}
.upside{
display:flex;
flex-direction:column-reverse;
}