<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>PRODUCT DIPSLAY</title>
<link href="./stylez.css" type="text/css" rel="stylesheet"/>
</head>

<body id="product" class="sizeUp">
    <h1>INPUT PRODUCT DETAILS</h1>
    <form action="/product" method="post">
    <p>PRODUCT NAME:<input type="text" name =productname></p> 
    <p>QUANTITY:<input type="number" min="1" name =quantity></p>
    <p>PRICE: <input type="number" min="1" name =price></p>    
    <button>SAVE</button>
    </form>
   
</body>