#user{
    background-color: navajowhite;
}
#user h1{
    color: darkmagenta;
}
#product{
    background-color:darkgoldenrod;
}

#product h1{
    color:darkblue;
}

.sizeUp{
    width:auto;
    margin:10%;
}


