<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>USER DISPLAY</title>
<link href="/stylez.css" type="text/css" rel="stylesheet"/>
</head>

<body class="sizeUp" id="user">
    <h1>INPUT YOUR DETAILS</h1>
    <form action="/user" method="post">
        <p >FIRST NAME: <input type="text" name =firstName></p>
        <p>LAST NAME:<input type="text" name =lastName ></p>
        <p>AGE:<input type="number" min="1"  name =age></p>
        <button>Add</button>

    </form>
    <form action="" method="post"></form>
</body>





</html>